@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #236093;
  --primary-light: #6797c3;
  --primary-dark: #1c4d76;
}

@layer base {
  body {
    @apply bg-white text-gray-900 antialiased;
  }
}

@layer components {
  .content-container {
    @apply w-full max-w-[1920px] mx-auto px-4 sm:px-6 lg:px-8;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
